html, body {
    height:100%;
}

#settings {
    padding: 5px 10px 0 10px;
    margin-bottom: 5px;
}
#algorithms {
    padding: 5px;
    display: inline-block;
    list-style: none;
}

.algorithm {
    border: 1px solid #29a7e1;
	box-shadow: 1px 1px 1px #888888;
    border-radius: 5px;
    width: 100px;
    /*height: 100px;*/
    min-height: 115px;
    padding: 5px;
    background: #ffffff;
    float: left;
    margin: 5px;
    cursor: pointer;
}
.algorithm.f-skip {
    border-color: red;
}
.scramble {
    font-weight: bold;
}
.algorithm img {
    width: 100%;
}
.algorithm .f-text {
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-height: 15px;
}

#algModal .modal-body {
    font-size: 20px;
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
}
#algModal .modal-title .icon {
    width: 48px;
    margin: -10px 5px -10px -5px;
}


.formula {
    font-style: italic;
    border: 1px solid #ffeb3b !important;
    background: #ffeb3b !important;
    padding: 0 4px;
    border-radius: 4px;
    display: inline-block;
    margin: 1px;
}

.f-RURiUi, .f-LiUiLU  {
    color: green;
    border-top-color: blue !important;
}
.f-RiFRFi{
    color: red;
    border-bottom-color: blue !important;
}

.f-RURiUi:before {
    content: '↑';
}
.f-LiUiLU:before{
    content: '↑';
    color: blue;
}

.f-RiFRFi:before {
    content: '↓';
}


body.f-icons .formula {
    font-size: 0;
    padding: 0 1vw;
}
body.f-icons .formula:before {
    font-size: 20px;
    font-size: 5vw;
}
body.f-icons .f-text .formula {
    padding: 0 4px;
}
body.f-icons .f-text .formula:before{
    font-size: 8px;
    /*font-size: 1vw;*/
}